.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.maxCard{
    margin: 0 auto;
  float: none;
  margin-top: 10em;
  height: 23em;
  color: black; 
}

.mr-auto{
    font-size: large;
}

.toastContent{
    margin-top: 5em;
    font-size: large;
}